<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/main.css">
    <title></title>
</head>

<body>
    <header>
        <a href="index.html"><img src="styles/icons/home_white.svg" alt=""></a>
        <img src="styles/nysl_logo.png" alt="NYSL logo">
        <a class="filler" href="#"></a>

    </header>

    <div class="match">

        <section class="teams">
           <div class="buttons">
            <div v-for="x in teams">
                <div @click="openTeam($event.target)" :data-value="x.name" class="linkedButtons" v-if="hide">
                    <img :src="x.emblem" :data-value="x.name" alt="team emblem">{{x.name}}
                </div>

            </div>
            </div>
        </section>
        <section class="matchList">
            <div v-for="x in games" v-if="!hide">
                <div class="box">
                    
                        <div class="allMatches">
                            <p>When: {{x.date}} </p>
                            <p>Teams: {{x.teams}}</p>
                            
                            
                            <div class="detailedTeam">

                                <img :src="x.emblem1" alt="team1">
                                <img src="styles/icons/vs2.svg" alt="vs" id="fightIcon">
                                <img :src="x.emblem2" alt="team2">

                            </div>
                            <p>Time: {{x.time}}</p>
                            <p>Location: {{x.location}}</p>
                        </div>
                    
                </div>
            </div>
        </section>
    </div>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- vue -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
    <!-- main -->
    <script src="scripts/main.js"></script>

</body>
</html>
